<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiktokopensdkreactnative">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.tiktok.open.sdk.share.ShareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ttopensdk" />
            </intent-filter>
        </activity>
    </application>

</manifest>